<h1>Add a Student</h1>
<h2>Add new Student</h2>
<hr />
<form action="/students" method="post">
  <label for="newstudent">Student Name:</label>
  <input id="newstudent" name="newstudent" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/students">List of Students</a></h4>
<h4><a href="/">Return home</a></h4>
