<h1>Add a Course</h1>
<h2>Add new Course</h2>
<hr />
<form action="/courses" method="post">
  <label for="newenrolldate">Enrollment Date:</label>
  <input id="newenrolldate" name="newenrolldate" type="text">
  <label for="newcoursename">Course Name:</label>
  <input id="newcoursename" name="newcoursename" type="text">
  <label for="newcoursenumber">Course Number:</label>
  <input id="newcoursenumber" name="newcoursenumber" type="text">
  <button type="submit">Add</button>
</form>
<h4><a href="/courses">List of Courses</a></h4>
<h4><a href="/">Return home</a></h4>
